.cursor-pointer {
	cursor: pointer;
}

#main-container {
	background: #fff;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	#main-content {
		background: #f1f1f1;

		display: grid;
		grid-template-areas: 'filters images';

		width: 80%;
		height: 90%;

		padding: 20px;

		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.5;
		letter-spacing: 0.00938em;
		text-transform: none;
		text-decoration: none;
		text-shadow: none;

		h1 {
			font-size: 2rem;
			font-weight: 300;
			line-height: 1.167;
			letter-spacing: 0.00735em;
			text-transform: none;
			text-decoration: none;
			text-shadow: none;

			position: relative;
			top: 0;
		}

		#filters {
			border: 1px solid #000;
			grid-area: filters;
			max-width: 800px;
			height: 100%;

			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 2px;
			padding: 30px;
			justify-content: center;

			@media screen and (max-width: 1350px) {
				grid-template-columns: 1fr 1fr;
			}

			button {
				appearance: button;
				backface-visibility: hidden;
				background-color: #405cf5;
				border-radius: 6px;
				border-width: 0;
				box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
				box-sizing: border-box;
				color: #fff;
				cursor: pointer;
				font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;
				font-size: 100%;
				outline: none;
				overflow: hidden;
				text-align: center;
				text-transform: none;
				transition: all 0.2s, box-shadow 0.08s ease-in;
				user-select: none;
				-webkit-user-select: none;
				touch-action: manipulation;
				width: 100%;
				height: 100%;

				max-height: 110px;
				max-width: 180px;

				@media screen and (max-width: 1350px) {
					max-height: 280px;
					max-width: 280px;
				}

				&:disabled {
					cursor: default;
				}

				&:focus {
					box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
						rgba(50, 151, 211, 0.3) 0 0 0 4px;
				}

				&:hover {
					background-color: #df643e;
				}
			}
		}

		#images {
			border: 1px solid #000;
			grid-area: images;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			--image-size: 256px;

			label[for='input-image'] {
				min-width: 280px;
				display: block;
			}

			#input-image,
			#output-image {
				position: relative;
				height: var(--image-size);
				width: var(--image-size);
				background-color: #c1c1c1;
				margin-bottom: 26px;

				display: flex;

				align-items: center;
				justify-content: center;

				cursor: pointer;

				> img {
					width: 80px;
					height: 80px;
					position: absolute;
					z-index: 0;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					float: left;
					cursor: pointer;
				}

				> input[type='file'] {
					position: absolute;
					z-index: 1;
					width: 100%;
					height: 100%;
					opacity: 0;
					float: left;
					cursor: pointer;
				}

				clear: both;
			}
		}
	}
}
